.dashboard{
    width: 100%;
}
.ship-list{
    padding: 0;
}
.ship-list .ship{
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 10px;    
    border-bottom: 1px solid white;

}
.ship-list .ship:nth-last-child(1){
  border-top: 1px solid white;
}
.ship-list .ship:nth-last-child(){
  border-bottom: none;
}
.shipname{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  overflow-x: scroll;
  white-space: nowrap;
  /* word-wrap:break-word */
}
.ship p{
    margin-left: 1.2rem;
    cursor: pointer;
}
.add-more{
    position: absolute;
    top: 20px;
    left: 10px;
}

.add-more:hover{
  color:red;
  cursor:pointer;
  font-weight: 700;

}
.comet-sigil{
  height: 78px;
  width: 78px;
  min-width: 78px;
  background-color: black;
}