.dashboard{
    width: 100%;
}
.dashboard p{
  font-size: 1.4rem;
}
.ship-list{
    padding: 0;
    overflow-y: scroll;
    /* TODO get these numbers right */
    max-height: 240px;
}
.ship-list .ship{
    list-style: none;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0 10px;    
    border-bottom: 1px solid white;

}
.ship-list .ship:nth-last-child(1){
  /* border-bottom: 1px solid white; */
}
.ship-list .ship:nth-last-child(1){
  border-bottom: none;
}
.shipname{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  /* white-space: nowrap; */
  /* word-wrap:break-word */
}
.ship p{
    margin-left: 1.2rem;
    cursor: pointer;
}
.add-more{
    
}
.sigil-wrapper{
  margin: 5px;
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.comet-sigil{
  background-color: black;
}

.active-ship{
  border: 3px solid green;
}

.ships-connected-msg{
  color: red;
  font-size: 1.1rem !important;
}