.dashboard{
    width: 100%;
}
.dashboard p{
  font-size: 1.4rem;
}
.page-title{
  margin-bottom: 0;
}
.ship-list{
    padding: 0;
    overflow-y: auto;
    max-height: 315.05px;
}
.ship-list .ship{
    list-style: none;
    display: flex;
    height: 85px;
    width: 100%;
    margin: auto;
    padding: 0 10px;    
    border-bottom: 1px solid white;
    border-top: 1px solid white;

}
.ship-list .ship:nth-last-child(1){
  /* border-bottom: 1px solid white; */
}
.ship-list .ship:nth-last-child(1){
  border-top: none;
  /* border-bottom: none; */
}
.shipname{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  /* white-space: nowrap; */
  /* word-wrap:break-word */
}
.ship p{
    margin: auto auto auto 1.2rem;
    cursor: pointer;
}
.add-more{
    
}
.sigil-wrapper{
  margin: auto 5px;
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.comet-sigil{
  background-color: black;
}

.active-ship{
  border: 3px solid green;
}

.ships-connected-msg{
  color: red;
  font-size: 1.1rem !important;
}