
.requesting-domain{
    display: block;
    font-size: 1.2rem;
    text-align: left;
    color: var(--foreground);
    font-family: 'Courier New', Courier, monospace;
}
.align-left{
    text-align: left;
}
.requesting-domain:hover{
    text-decoration: underline;
}
.permslist{
    overflow-y: scroll;
    text-align: left;
}
.domain{
    display: flex;
    padding: 0.5rem;
    border-top: 1px solid grey;
}
.domain p{
    margin: 0;
}
.domain:last-of-type{
    border-bottom: 1px solid grey;
}

.domain:hover{
    cursor: pointer;
    text-decoration: underline;
}
.permission-string{
    padding: 0.5rem;
    margin: 0.3rem;
}
.permission-string:hover{
  color: red;
  font-weight: 500;
  cursor: pointer;
}
ul{
    margin: 2rem 0;
    list-style: none;
    /* padding-left: 1rem; */
    padding-left: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    /* color: var(--foreground); */
    color: black;
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: darkgrey;
    margin-bottom: 5px;
    margin-right: 5px;
}
.chip p{
    margin: 0;
}
.chip .close{
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}