.requesting-domain{
    display: block;
    font-size: 1rem;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 256px;
    color: var(--foreground);
    font-family: 'Courier New', Courier, monospace;
}

.permission-request-list {
    margin-bottom: 49px;
}

.permission-request-list ul {
    margin-left: auto;
    margin-right: auto;
    width: 269px;
}

.align-left{
    text-align: left;
}
.requesting-domain:hover{
    text-decoration: underline;
}
.permslist{
    overflow-y: scroll;
    text-align: left;
}
.perms-flex-grow-wrapper {
    display: inline;
    overflow: auto;
    flex-direction: column;
    flex-grow: 1;
}
.domain{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-top: 1px solid grey;
}
.domain-text{
    margin: auto 0;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    word-wrap: break-word;
}
.domain-text:hover{
    cursor: pointer;
    text-decoration: underline;
}
.domain:last-of-type{
    border-bottom: 1px solid grey;
}

.permission-string{
    margin: 0.3rem;
    margin-left: 1.25rem;
}
.permission-string:hover{
  color: red;
  font-weight: 500;
  cursor: pointer !important;
}
.permission-string .chip:hover{
  background-color: red;
  cursor: pointer !important;
}
ul{
    margin: 2rem 0;
    list-style: none;
    /* padding-left: 1rem; */
    padding-left: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: bolder;
    color: black;
    line-height: 32px;
    padding: 0 12px;
    border-radius: 5px;
    background-color: #a9a9a9;
    margin-bottom: 5px;
    width: 129px;
    margin-right: 5px;
    cursor: auto !important;
}
.chip p{
    margin: 0;
}
.chip .close{
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}
.minibutton{
    margin: auto 0;
    width: 28px;
    height: 28px;
    font-size: 0.7rem;
    padding: 8px;
    text-transform: none;
    background: url('https://api.iconify.design/mdi:delete.svg') no-repeat center center / contain;
}
.minibutton:hover{
    opacity: 0.5;
}
.perm-deletion-confirmation-prompt{
    margin-bottom: 10px;
}

.permission-search {
    margin-top: 1.5rem;
}
