.add-ship-form{
  margin: auto;
  width: 100%;
}
.confirm{
  margin: auto;
}

.loginButton {
  border: 0;
  background-color: #1a1d22;
  color: white;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
}

/* .buttonContainer {
  display: flex;
  min-width: 150px;
  padding: 10px;
} */



.add-ship-form{
  /* margin-top: -3rem; */
}
label{
  line-height: 1.5;
}
input{
  width: 100%;
  margin: 12px 0;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: none;
  display: block;
  font-family: 'Source Code Pro', monospace;
}
.spinner{
  height: 20px;
}
.small-button:disabled {
  border-color: currentColor;
  background: rgba(33,157,255,0.05);
  pointer-events: none;
  cursor:not-allowed
}
.small-button {
  display: block;
  width: 100%;
  margin: 8px auto;
  padding: 8px 16px;
  border-radius: 4px;
  background: rgba(33,157,255,0.3);
  border: 1px solid rgba(33,157,255,1);
}

.confirm-shipname{
  font-size: 1.2rem;
}
.confirm-form{
  margin: 0 !important;
  width: 100% !important;
}