.settings{
    width: 100%;
}

.settings-option a{
    cursor: pointer;
    display: flex;
}
.settings-option{
    padding: 0 1rem;
    border-bottom: 1px solid grey;
}
.settings-option:last-of-type{
    border-bottom: none;
}
.settings-option-text{
    text-align: left;
}
.settings-option-icon{
    font-size: 2rem;
    margin: auto;
}

.change-password-form{
    width: 80%;
    padding: 1rem;
    margin: auto;
}
.ship-to-remove{
    display: flex;
    justify-content: space-between;
}
