.settings{
    width: 100%;
}
.settings h1{
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--foreground);
    margin-bottom: 0;
    padding-top: 0;
}

.padding h3{
    margin-top: -1rem;
    margin-bottom: 2rem;
    text-align: center;
}
.no-margin{
    margin-bottom: 0 !important;
  }

.settings-option a{
    cursor: pointer;
    display: flex;
}
.settings-option{
    padding: 0 1rem;
    border-bottom: 1px solid grey;
}
.settings-option:last-of-type{
    border-bottom: none;
}
.settings-option-text{
    text-align: left;
    flex-grow: 1;
}
.settings-option-icon{
    font-size: 2rem;
    margin: auto;
}

.change-password-form{
    width: 80%;
    padding: 1rem;
    margin: auto;
}
.remove-ships-list{
    padding: 0;
    overflow-y: auto;
}
.ship-to-remove{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.ship-to-remove p span{
    width: 100%;
    /* flex-grow: 1; */
}
.ship-to-remove button{
    width: 30px;
    height: 30px;
}
.mini-sigil-wrapper{
    margin: auto 0;
}
.ship-to-delete{
    font-weight: 700;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 2rem;
}
.sigil-wrap{
    margin: 1rem auto;
}

/* toggle */
.popup-settings{
    margin-top: 3rem;
}
.option{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.popup-settings input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.popup-settings input :focus{
    outline: 0
}

.toggle {
  height: 32px;
  width: 64px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: auto 0;
  border: 2px solid #474755;
  background: transparent;
  transition: all .2s ease;
}
    
.toggle:after{
content: '';
position: absolute;
top: 2px;
left: 2px;
width: 24px;
height: 24px;
border-radius: 50%;
background: white;
box-shadow: 0 1px 2px rgba(44,44,44,.2);
transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}
.toggle:checked{
border-color: rgb(3, 125, 214, 1)
}
.toggle:checked:after{
  transform: translatex(32px)
}