.navbar-sigil{
    padding: 2px;
}
.navbar-sigil:hover{
    cursor:pointer;
    border-color: transparent; /* remove the border's colour */
    box-shadow: 0 0 0 1px white; /* emulate the border */
    /* border: 1px solid white; */
}

.navbar-modal{
    /* opacity: 0.7; */
    background-color: var(--background);
    border: 1px solid var(--foreground);
    position: fixed;
    top: 70px;
    left: 5px;
    width: 100px;
    /* height: 150px; */
    z-index: 999;
}
.ship-in-modal:hover, .modal-link:hover{
    background-color: darkgrey;
    cursor: pointer;
}

.modal-link{
    padding: 1.5rem 0;
}
.dummy-sigil{
    border: 1px solid grey;
}